git+https://github.com/ehForwarderBot/efb-telegram-master.git
git+https://github.com/0honus0/python-comwechatrobot-http.git
git+https://github.com/0honus0/efb-wechat-comwechat-slave.git
lottie
cairosvg
